{% extends 'base.html' %}

{% block title %}Detail of {{ group.group_name }}{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-4"></div>
    <div class="col">
        <div class="card" style="width: 18rem;">
  <div class="card-header">
      <a href="{% url 'group:edit' group.pk %}"> {{ group.group_name }}</a>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ group.group_description }}</li>
    <li class="list-group-item">{{ group.date_of_start }}</li>
  </ul>
        <a class="btn btn-outline-primary mt-3" href="{% url 'group:list' %}">Back to list</a>
    </div>
        <div class="col-4"></div>
</div>
    <div class="row">
        {%  with objects_list=group.students.all group_on=False %}
            {% include 'includes/students_table.html' %}
        {% endwith %}
    </div>
    </div>
{% endblock %}