{% extends 'base.html' %}

{% block title %}Detail of {{ student.first_name }}{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-4"></div>
    <div class="col">
        <div class="card" style="width: 18rem;">
  <div class="card-header">
      <a href="{% url 'student:edit' student.pk %}">{{ student.first_name }}</a>{{ student.last_name }}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ student.email }}</li>
    <li class="list-group-item">{{ student.phone }}</li>
    <li class="list-group-item">{{ student.birthday }} {% if student.get_age %} <span class="text-muted">({{ student.get_age }} year)</span></li>{% endif %}
  </ul>
        <a class="btn btn-outline-primary mt-3" href="{% url 'student:list' %}">Back to list</a>
    </div>
        <div class="col-4"></div>
</div>
{% endblock %}
