{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block title %}
Logout User
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col text-center">
                <a class="btn btn-outline-primary mt-3" href="{% url 'accounts:register' %}">Register</a>
                <a class="btn btn-outline-primary mt-3" href="{% url 'accounts:login' %}">Login</a>
            <a class="btn btn-outline-primary mt-3" href="{% url 'home' %}">Home</a>
        </div>
        <div class="col-3"></div>
    </div>
{% endblock %}