{% extends 'base.html' %}

{% block title %}
    User Profile
{% endblock %}

{% block content %}
    <section class="section about-section gray-bg" id="about">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-lg-6">
                        <div class="about-text go-to">
                            <h3 class="dark-color" style="color:Black; text-shadow: #FAF 1px 0 10px">{{ user.first_name }} {{ user.last_name }}</h3>
                            <h6 class="theme-color lead">About Me:</h6>
                            <div class="row about-list">
                                <div class="col-md-6">
                                    <div class="media">
                                        <label style="color:Black; text-shadow: #FAF 1px 0 10px"><strong>Birthday</strong></label>
                                        <p>{% if user.profile.birthday %}
                                            {{ user.profile.birthday }}{% endif %}</p>
                                    </div>
                                    <div class="media">
                                        <label style="color:Black; text-shadow: #FAF 1px 0 10px"><strong>Age</strong></label>
                                        <p>{{ user.profile.get_age }}</p>
                                    </div>
                                    <div class="media">
                                        <label style="color:Black; text-shadow: #FAF 1px 0 10px"><strong>Email</strong></label>
                                        <p>{{ user.email }}</p>
                                    </div>
                                    <div class="media">
                                        <label style="color:Black; text-shadow: #FAF 1px 0 10px"><strong>City</strong></label>
                                        <p>{% if user.profile.city %}
                                            {{ user.profile.city }}{% endif %}</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="media">
                                        <label></label>
                                        <p><a class="btn btn-outline-primary mt-5" href="{% url 'accounts:profile_update' %}">Change profile</a></p>
                                    </div>
                                    <div class="media">
                                        <p><a class="btn btn-outline-primary mt-2" href="{% url 'password_change' %}">Change Password</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="about-avatar">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" title="" alt="">
                        </div>
                    </div>
                </div>
                <div class="counter">
                    <div class="row">
                        <div class="col-6 col-lg-3">
                            <div class="count-data text-center">
                                <h6 class="count h2" data-to="500" data-speed="500">500</h6>
                                <p class="m-0px font-w-600">Happy Clients</p>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="count-data text-center">
                                <h6 class="count h2" data-to="150" data-speed="150">150</h6>
                                <p class="m-0px font-w-600">Project Completed</p>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="count-data text-center">
                                <h6 class="count h2" data-to="850" data-speed="850">850</h6>
                                <p class="m-0px font-w-600">Photo Capture</p>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="count-data text-center">
                                <h6 class="count h2" data-to="190" data-speed="190">190</h6>
                                <p class="m-0px font-w-600">Telephonic Talk</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}