{% extends 'base.html' %}

{% block title %}
List of Teachers
{% endblock %}

{% block content %}
    <style>
        table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
    </style>
    <meta charset="UTF-8">
    <title>List of Groups</title>
<body>
<br>
    <h1>List of Groups</h1>
    <table>
    {% for teacher in teachers %}
        <tr>
            <td><a href="{% url 'teacher:detail' teacher.pk %}">{{ teacher.first_name }}</a></td>
            <td>{{ teacher.last_name }}</td>
            <td>{{ teacher.phone }}</td>
            <td><a href="{% url 'teacher:edit' teacher.pk %}"><b>Edit</b></a></td>
            <td><a href="{% url 'teacher:delete' teacher.pk %}">Delete</a></td>
        </tr>
    {% endfor %}
    </table>
</body>
{% endblock %}